@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
        margin: 0 auto;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home main {
        align-items: center;
    }
  

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 250px;
    }

    #page-create-point form {
        margin: 80px auto 20px;
        padding: 32px;
    }

    #page-create-point form h1 {
        font-size: 34px;
        text-align: center;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    #page-create-point form fieldset legend span {
        font-size: 12px;
        text-align: right;
    }

    #page-create-point .items-grid {
        grid-template-columns: 1fr 1fr;
    }

    #page-create-point .items-grid li {
        padding: 32px 12px 16px;
    }

    #page-create-point form button {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 430px) {
    #page-home {
        background-position-x: 40%;
        background-position-y: 25%;
        background-size: 200px;
    }

    #page-home header img {
        margin: 0 auto;
    }

    #page-home header a {
        position: absolute;
        bottom: 30px;
        left: 20%;
    }

    #page-home main h1 {
        font-size: 30px;
    }

    #page-home main p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 24px;
    }

    #page-home #modal-contet {
        padding: 0 16px;
    }


    #page-create-point header img {
        width: 150px;
    }

    #page-create-point header a {
        font-size: 12px;
    }

    #page-create-point header a span {
        margin-right: 8px;
    }

    #page-search-results header img {
        width: 150px;
    }

    #page-search-results header a {
        font-size: 12px;
    }

    #page-search-results header a span {
        margin-right: 8px;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

/* @media (min-width: 600px) {
    #page-home main h1 {
        font-size: 33px;
    }

    #page-home main p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 24px;
    }

} */



/* @media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    } */
    


/* page-home (max-width 440px) {
    text-align: ;
} */